*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 50%;
    padding: 1% 0;
}

header{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 2% 3%;
    width: 25%;
    text-align: center;
}

a:hover{
    background-color: #DC143C;
    border-radius: 5px;
}