body{
    background-color: #FFFAF0;
}

h1{
    text-align: center;
    padding: 5% 0;
    font-family: 'Manrope', sans-serif;
    color: #DC143C;;
}

p, label{
    font-family: 'Open Sans', sans-serif;
    padding: 0 5%;
    text-align: center;
}

.block1, .block2{
    display: flex;
    justify-content: space-between;
}

.size{
    height: 5%;
    width: 32%;
    text-align: center;
}

label{
    display: block;
}

.book-size{
    height: 32vw;
    padding: 5% 0;
}

.footer{
    margin-top: 5%;
}

@media(max-width: 800px){
    .block1, .block2, .choosen{
        flex-wrap: wrap;
        justify-content: center;
    }

    .book-size {
        width: 90%;
        height: auto;
        padding: 10% 0 0;
    }

    .size{
        padding: 0;
        margin: 0 auto;
        width: auto;
        height: auto;
    }
}